body {
      font-family: Arial, sans-serif;
      background: linear-gradient(135deg, #74ebd5, #9face6);
      margin: 0;
      padding: 20px;
    }
    div{
        padding: 18px;
        border: 5px solid cadetblue;
        padding: 5px;
        margin: 20px;
    }

    .container {
      max-width: 600px;
      margin: auto;
      background: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    }

    h1 {
      text-align: center;
    }

    p {
      text-align: center;
      color: #555;
    }

    label {
      display: block;
      margin-top: 15px;
      font-weight: bold;
    }

    input, select, textarea, button {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

    .inline {
      width: auto;
      margin-right: 10px;
    }

    .options {
      margin-top: 10px;
    }

    button {
      background: #4CAF50;
      color: white;
      border: none;
      cursor: pointer;
      margin-top: 20px;
    }

    button:hover {
      background: #45a049;
    }